@charset "utf-8";

$primary: #08c;
$link: #212952;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";


ul {
	@include tablet {
		columns: 2;
	}

	@include desktop {
		columns: 4;
	}

	/* bulma has no 4k option */
	@media (min-width: 2000px)  {
		columns: 8;
	}
}
