@charset "utf-8";

$primary: #f6f9fc;
$link: #07b;

$good: rgb(0, 128, 0);
$bad: rgb(207, 0, 0);
$unknown: rgb(255, 164, 5);

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";

#archnavbar {
	background: #333 none repeat scroll 0 0 !important;
	border-bottom: 5px solid #08c !important;
	min-height: 40px !important;
	padding: 10px 15px !important;

	#logo {
		background: rgba(0, 0, 0, 0) url("archlogo.8a05bc7f6cd1.svg") no-repeat scroll 0 0 !important;
		background-size: 100% !important;
		height: 40px !important;
		margin: 0 !important;
		padding: 0 !important;
		width: 190px !important;
		float: left !important;

		& a {
			display: block !important;
			height: 40px !important;
			width: 190px !important;
			text-indent: -9999px !important;
		}
	}

	& #archnavbarlist li a {
		color: #999;
		font-weight: bold;
		text-decoration: none;
	}

	& ul {
		display: block;
		list-style: none;
		margin: 0;
		padding: 0;
		text-align: right;
		font-size: 0;
		letter-spacing: 0;

		& li {
			display: inline-block;
			font-size: 14px;
			font-family: sans-serif !important;
			line-height: 1.4;
			letter-spacing: 0;
			padding-top: 14px;
			padding-right: 15px;
			padding-left: 15px;
			margin: 0;

			& a:hover {
				color: white !important;
				text-decoration: underline !important;
			}
		}
	}
}

html, body, .footer {
	background-color: $primary;
}

a:hover {
	text-decoration: underline;
}

.has-background-info {
	background-color: #e4eeff !important;
}

.bold {
	font-weight: bold;
}

.good {
	color: $good;

	& .subtitle:before, & .Collapsible__trigger {
		color: $good;
	}
}

.bad {
	color: $bad;

	& .subtitle:before, & .Collapsible__trigger {
		color: $bad;
	}
}

.unknown {
	color: $unknown;

	& .subtitle:before, & .Collapsible__trigger {
		color: $unknown;
	}
}

.section {
	padding: 2rem;

	& ul {
		@include tablet {
			columns: 2;
		}

		@include desktop {
			columns: 4;
		}

		/* bulma has no 4k option */
		@media (min-width: 2000px) {
			columns: 8;
		}
	}
}

.box {
	padding: 5px 10px 10px 10px;
}

.repo-summary li:nth-child(2) {
	padding-top: 0.5rem;
}

.subtitle {
	&:before {
		content: '● ';
	}
}

.Collapsible__contentInner {
	margin-left: 1rem;
	border: 1px black;
	color: black;
}

.Collapsible__trigger {
	display: block;
	position: relative;
	padding: 0 0 0 1rem;
	color: $link;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	&:before {
		content: '^';
		position: absolute;
		left: 0;
		display: block;
		transition: transform 100ms;
		color: #666;
		font-weight: bold;
	}

	&.is-closed {
		&:before {
			transform: rotateZ(90deg);
		}
	}

	&.is-open {
		&:before {
			transform: rotateZ(180deg);
		}
	}
}

.hero-body {
	padding: 1.5rem 2rem;
}

.footer {
	padding: 1rem 1.5rem 1rem !important;
}
