@charset "utf-8";

$primary: #08c;
$link: #212952;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/box.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/layout/footer.sass";
@import "../node_modules/bulma/sass/layout/hero.sass";
@import "../node_modules/bulma/sass/layout/section.sass";
@import "../node_modules/bulma/sass/grid/tiles.sass";

a:hover {
	text-decoration: underline;
}

.section a:link, .section a:visited {
	color: white;
}

.bold {
	font-weight: bold;
}

.good {
	color: rgb(0, 256, 0);
	font-weight: bold;
}

.bad {
	color: rgb(207, 0, 0);
	font-weight: bold;
}

.unknown {
	color: rgb(255, 164, 5);
	font-weight: bold;
}

ul {
	@include tablet {
		columns: 2;
	}

	@include desktop {
		columns: 4;
	}

	/* bulma has no 4k option */
	@media (min-width: 2000px) {
		columns: 8;
	}
}

.box {
	padding: 5px 10px 10px 10px;
}

.Collapsible__contentInner {
	margin-left: 1rem;
	border: 1px black;
	color: black;
}

.Collapsible__trigger {
	display: block;
	position: relative;
	padding: 0 0 0 1rem;
	color: white;

	&:hover {
		cursor: pointer;
		text-decoration: underline;
	}

	&:before {
		content: '^';
		position: absolute;
		left: 0;
		display: block;
		transition: transform 100ms;
		color: #666;
	}

	&.is-closed {
		&:before {
			transform: rotateZ(90deg);
		}
	}

	&.is-open {
		&:before {
			transform: rotateZ(180deg);
		}
	}
}
